<div class="row">
  <div class="col-sm-4">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <h1>CAR4CRETE</h1>
      <address style="margin-top: 10px;">
        {{ "ADRESS_TEXT" | translate }}
      </address>
    </div>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="item">
      <h5><i class="fa fa-envelope-o"></i> <a href="mailto:info@carcrete24.com">info@carcrete24.com</a></h5>
      
    </div>
    <div class="item">
      <h5 title="Позвонить"><i class="fa fa-phone"></i> <a href="tel:306949367278">+30 (694) 936-72-78 </a></h5>
    </div>
    <div class="item">
      <span class="icons">
        <a target="blank" href="https://wa.me/306949367278">
          <img src="../../assets/images/icons/whatsapp.svg" alt="WhatsApp" title="WhatsApp"/>
        </a>
        <a target="blank" href="https://www.youtube.com/channel/UCgc1V0gJlSwIVt2qS60u3BA/videos?view_as=subscriber">
          <img style="width: 3.5rem;" src="../../assets/images/icons/youtube.svg" alt="YouTube" title="YouTube"/>
        </a>
      </span>
    </div>
  </div>
</div>
<div class="ARR"> Все права защищены | 2020 | Разработано командой <a href="http://www.progoff.ru" target="_blank" class="ml-2">Progoff</a></div>
