<div class="row">
  <div class="col-sm-4">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <h1>CAR4CRETE</h1>
      <address style="margin-top: 10px;">
        {{ "ADRESS_TEXT" | translate }}
      </address>
    </div>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="item">
      <h5><i class="fa fa-envelope-o"></i> <a href="mailto:info@carcrete24.com">info@carcrete24.com</a></h5>
      
    </div>
    <div class="item">
      <h5 title="Позвонить"><i class="fa fa-phone"></i> <a href="tel:+120345678910">+12(034)567-89-10 </a></h5>
    </div>
    <div class="item">
      <span class="icons">
        <a target="blank" href="https://wa.me/306949367278">
          <img src="../../assets/images/icons/whatsapp.svg" alt="WatsApp" title="WatsApp"/>
        </a>
        <a target="blank" href="viber://chat?number=306949367278">
          <img src="../../assets/images/icons/viber.svg" alt="Viber" title="Viber"/>
        </a>
      </span>
    </div>
  </div>
</div>
