img{
    width: 70%;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
}
.row{
    overflow: hidden;
    width: 100%;
    padding: 30px 40px;
    margin: 0;
    /* background-color: #0B61A4; */
    background-color: rgb(182, 22, 32);
    border-radius: 20% 20% 0 0;
    box-shadow: 0 -1px 10px 1px black;
}
.row *{
    color:white;
}

.icons img{
    background-color: transparent;
    width: 3rem;
    cursor: pointer;
}

.item i{
    font-size: 16px;
    margin-left: 0.5rem;
    margin-right: 1rem;
}