<div class="row">
  <div class="col-sm-4" >
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="../../assets/images/logo.png" alt="">
      <address style="margin-top: 10px;">
        Аммудара, Андреа Папандреу, 247
      </address>
    </div>
    
  </div>
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">
    <div class="item">
      <h5><i class="fa fa-envelope-o"></i> {{'EMAIL'|translate}}</h5>
      <a href="mailto:info@carcrete24.com">info@carcrete24.com</a>
    </div>
    <div class="item">
      <h5><i class="fa fa-phone"></i> {{'PHONE'|translate}}</h5>
      <a href="tel:00306949367278">+30 69493 67278 </a><br>
      
    </div>
    
  </div>
</div>