<div class="topmenu">
    <div class="container">
        <div class="row" style="margin: 0;">
        <div class="col-sm-4" >
            <a [routerLink]='["/"]' (click)='collapse()'>
                <img  src="../../assets/images/logo.png">
            </a>
            
        </div>
        
        <div class="row menu-prop">
            
            <div *ngIf="!userService.currentUser" (click)="userService.ShowForm(1)"><span  class='glyphicon glyphicon-plus'></span><span>{{"REGISTRATION" | translate}}</span></div>
         
            <div [routerLinkActive]='["link-active"]' *ngIf="!!userService.currentUser"  [routerLink]='["/user"]'><span  class='glyphicon glyphicon-user'></span><span>{{userService.currentUser.Name}}</span></div>
           
            
            <div (click)="userService.currentUser?Exit():userService.ShowForm(0)"><span *ngIf="!userService.currentUser"   class='glyphicon glyphicon-user'></span><span>{{(userService.currentUser?"LOG_OUT":"LOG_IN") | translate}}</span></div>
            <div class = "lang">
                
                <span >{{service.lang=='ru'?'RU':'ENG'}}</span>
                <span  class='glyph-small glyphicon glyphicon-chevron-down'></span>
                <div class="langs">
                    <span class="lng" (click)="service.changeLang('ru')">RU</span>
                    <span class="lng" (click)="service.changeLang('en')">ENG</span>
                </div>
            </div>
        </div>
             
        
    </div>
    </div>
    
</div>

<div >
    <div >
            <div class='main-nav' >
                    <div class='navbar navbar-inverse' [ngClass]="{'no-shadow':!showShadow, 'fixed-menu':fixedMenu}">
                        <div class='navbar-header'>
                            <div class="row menu-prop">
                                    <!-- <div *ngIf="!userService.currentUser" (click)="userService.ShowForm(1)"><span  class='glyphicon glyphicon-plus'></span><span>{{"REGISTRATION" | translate}}</span></div>
                                    <div *ngIf="!!userService.currentUser" [routerLinkActive]='["link-active"]' [routerLink]='["/user"]' ><span  class='glyphicon glyphicon-user'></span><span>{{userService.currentUser.Name}}</span></div>
                                    <div (click)="userService.currentUser?Exit():userService.ShowForm(0)"><span *ngIf="!userService.currentUser"   class='glyphicon glyphicon-user'></span><span>{{(userService.currentUser?"LOG_OUT":"LOG_IN") | translate}}</span></div> -->
                                    <div class = "lang">
                                        <span >{{service.lang=='ru'?'RU':'ENG'}}</span>
                                        <span  class='glyph-small glyphicon glyphicon-chevron-down'></span>
                                        <div class="langs">
                                            <span class="lng" (click)="service.changeLang('ru')">RU</span>
                                            <span class="lng" (click)="service.changeLang('en')">ENG</span>
                                        </div>
                                    </div>
                            </div>
                            <button type='button' class='navbar-toggle' [ngClass]="{'open':isExpanded}" (click)='toggle()'>
                                <span class='sr-only'>Toggle navigation</span>
                                <span class='icon-bar'></span>
                            </button>
                            <div class="row menu-prop">
            
            
                        </div>
                            
                        </div>
                        
                        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
                            <div class="account-item mt-1" *ngIf="!userService.currentUser" (click)="userService.ShowForm(1)"><span><span  class='glyphicon glyphicon-plus'></span><span>{{"REGISTRATION" | translate}}</span></span></div>
                            <div class="account-item mt-1" *ngIf="!!userService.currentUser" [routerLinkActive]='["link-active"]' [routerLink]='["/user"]' ><span><span  class='glyphicon glyphicon-user'></span><span>{{userService.currentUser.Name}}</span></span></div>
                            <div class="account-item mt-1" (click)="userService.currentUser?Exit():userService.ShowForm(0)"><span><span *ngIf="!userService.currentUser"   class='glyphicon glyphicon-user'></span><span>{{(userService.currentUser?"LOG_OUT":"LOG_IN") | translate}}</span></span></div>
                            <ul class='nav' >
                                
                                <li [routerLinkActive]='["link-active"]'> 
                                    <a [routerLink]='["/allcars"]' (click)='collapse()'>
                                        <i class="fa fa-car"></i> <span class="note">{{"CARS" | translate}}</span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </li>
                                <li [routerLinkActive]='["link-active"]'>
                                    <a [routerLink]='["/contacts"]' (click)='collapse()'>
                                        <i class="fa fa-address-card"></i><span class="note">{{"CONTACTS" | translate}}</span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </li>
                                <li [routerLinkActive]='["link-active"]' (click)="changePage(2)">
                                    <a [routerLink]='["/policy"]' (click)='collapse()'>
                                        <i class="fa fa-info-circle" aria-hidden="true"></i> <span class="note">{{"RENTAL_POLICY" | translate}}</span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </li>
                                <li [routerLinkActive]='["link-active"]' (click)="changePage(3)">
                                    <a [routerLink]='["/about"]' (click)='collapse()'>
                                        <i class="fa fa-book"></i> <span class="note">{{"ABOUT_CRETE" | translate}}</span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </li>
                                <li [routerLinkActive]='["link-active"]' >
                                    <a [routerLink]='["/feedback"]' (click)='collapse()'>
                                        <i class="fa fa-comments"></i> <span class="note">{{"COMMENTS" | translate}}</span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </li>
                                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                                    <a [routerLink]='["/"]'  (click)='collapse()'>
                                        <i class="fa fa-search"></i><span class="note">{{"SEARCH" | translate}}</span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    </div>
</div>
<alert  [alert] ="alertService"></alert>
<user-form *ngIf="userService.openForm" [service]="userService" [alert]="alertService"></user-form>
<div style="clear:both"></div>