.topmenu{
    position: relative;
    background-color: #0B61A4;
    max-height: 103px;
    
}

.topmenu .container{
    position: relative;
    padding: 10px 0;
}
.navbar-inverse{
    
    height: 45px;
    position: relative;
    background-color: #0B61A4;
    background-image: none !important;
    z-index: 800;
    transition: 0.5s;
}
.menu-prop{
    position: absolute;
    display: flex;
    align-items: center;
    right: 30px;
    color: white;
    
}
.menu-prop>div:not(.lang){
    color: black;
    padding: 5px;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
    
}
.menu-prop .link-active, .menu-prop .link-active *{
    color: white !important;
    background-color: transparent !important;
}

.menu-prop .link-active:hover{
    color:white !important;
}
.menu-prop>div{
    margin-right: 10px;
}
.lang:hover>.glyph-small{
    color:#0B61A4;
}
.lang:hover>.langs{
    transition: 0.2s;
    height: 44px;
    opacity: 1;
}
.langs>.lng:hover{
    text-decoration: underline;
}
.lang{
    cursor: pointer;
    position: relative;
}
.langs{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50px;
    border: 1px dashed black;
    border-radius: 4px;
    overflow: hidden;
    transition: 0;
    height: 0;
    opacity: 0;
    z-index: 200;
    
}
.fa-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.langs>.lng{
    text-align: center;
    width: 100%;
}
.glyphicon {
    margin-right: 2px;
}
li .glyphicon, li i {
    margin-right:4px;
    z-index: 1;
    position: relative;
}

/* Highlighting rules for nav menu items */
.link-active,
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    border-radius: 20px;
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {

    top: 0;
    left: 0;
    right: 0;
    
}
.nav>ul{
    margin-top: 5px;
}
.nav{
  display:flex;
  justify-content:space-around;
  
}
.in{
    background-color: #0B61A4;
}
.navbar{
    
    border-radius: 0;
    
    border: none;
    margin-bottom: 20px;
    padding: 5px 0;
    min-height: 0;
}

.nav>li:not(.link-active)>a{
  color: white;
}
.nav>li>a:hover{
    background-color: unset;
  color: rgb(0, 0, 0);
}
.no-shadow::after{
    box-shadow: 0 0 0 black !important;
}
.fixed-menu::after{
    box-shadow: 0 3px 3px black !important;
}
.navbar-inverse::after{
    content: '';
    position: absolute;
    background-color: #0B61A4;
    
    border-radius: 0 0 50% 50%;
    height: 15px;
    bottom: -15px;
    z-index: 300;
    width: 100%;
    box-shadow: 0 3px 3px black;
}
.fixed-menu{
    min-width: 300px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
@media (min-width: 941px) {
    .topmenu .container::before{
        content: '';
        position: absolute;
        height: 50vh;
        bottom: 3vw;
        right: -10vw;
        /* background-color: rgb(98, 175, 235); */
        background-image: url('../../assets/images/bg.jpg');
        box-shadow: 0 0 3px 1px black inset;
        border-radius: 0 0 50% 50%;
        transform: rotate(15deg);
        width: 65vw;
        
        
    }
    
  /* On small screens, convert the nav menu to a vertical sidebar */
    .navbar-header .menu-prop{
        display: none;
    }
    .navbar {
        position: relative;
        border-radius: 0;
        border:none;
    }
    .topmenu img{
        margin-left:10%; 
        max-width: 260px;
    }
    .menu-prop>div:not(.lang):hover{
        border-radius: 7px;
        color:#0B61A4;
        box-shadow: 0 0 5px #0B61A4 inset;
    }

    /* .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    } */

    .navbar a {
      /* If a menu item's text is too long, truncate it */
      /* width: 100%; */
      text-transform: uppercase;
      border-radius: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
    }
    .navbar li a{
        padding: 0 10px;
        line-height: 40px;
        transition: 0.2s;

    }
    .note{
        z-index: 1;
        position: relative;
    }
    .navbar a span:not(.note){
        position: absolute;
        
        width: 25%;
        height: 100%;
        background-color: #3F92D2;
        transform-origin: top;
        z-index: 0;
        
        transform: scaleY(0);
        transition: transform .3s;
    }
    .nav>li>a:hover{
        color: #fff;
        text-decoration: none;
    }
    .nav>li>a:hover span:not(.note){
        transform-origin: bottom;
	    transform: scaleY(1);
    }
    ul li a span:nth-child(3) {
        left: 0;
        transition-delay: 0s;
    }
    ul li a span:nth-child(4) {
        left: 25%;
        transition-delay: 0.15s;
    }
    ul li a span:nth-child(5) {
        left: 50%;
        transition-delay: 0.3s;
    }
    ul li a span:nth-child(6) {
        left: 75%;
        transition-delay: 0.45s;
    }
}

@media (max-width: 940px) {
    
    .menu-prop{
        display: flex;
        align-items: center;
    }
    .menu-prop>div:not(.lang){
        max-width: 150px;
    }
    .topmenu img{
        margin: 0 auto; 
        max-width: 300px;
        max-height: 95px;
    }
    .col-sm-4{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav {
        margin-top:20px;
        flex-direction:column;
      }
      .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
      }
      .navbar-collapse{
        position: absolute;
        width: 100%;
        z-index: 801;
        top: 100%;
        padding:0;
        box-shadow: none;
        border: none !important;
        
       
      }
      .navbar-collapse::after{
        content: '';
        position: absolute;
        background-color: #0B61A4;
        
        border-radius: 0 0 50% 50%;
        height: 15px;
        bottom: -15px;
        z-index: 320;
        width: 100%;
        box-shadow: 0 3px 3px black;
      }
    .menu-prop{
        left: 20px;
        top:0;
        height: 100%;
        max-height: 60px;
        right: auto;
        
        color:rgb(211, 211, 211) !important;
    }
    .menu-prop span{
        color:rgb(211, 211, 211) !important;
    }
    .langs{
        background-color: rgb(34,34,34);
        
    }
    .topmenu .menu-prop{
        display: none;
    }
    .navbar-header {
        
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle:focus{
        background-color: #0B61A4;
    }
    .navbar-toggle {
        border:none;
        position: absolute;
        top:12px;
        right: 5px;
        margin: 0;
        display: block;
    }
    .icon-bar{
        position: relative;
        transition: 0.3s;
        transform-origin: center;
    }
    .icon-bar::before, .icon-bar::after{
        content: '';
        transform-origin: center;
        height: inherit;
        width: 100%;
        left: 0;
        background-color: white;
    }
    .icon-bar::before{
        position: absolute;
        top:-5px;
    }
    .icon-bar::after{
        position: absolute;
        bottom:-5px;
    }
    .open{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .open .icon-bar::before, .open .icon-bar::after{
        transform: rotate(90deg);
        top:0;
        bottom: 0;
    }
    .open .icon-bar{
        transform: rotate(-45deg);
    }


    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important; 
    }
    .navbar-nav>li {
        float: none;
    } 
    .collapse.in{
        display:block !important;
        overflow: visible !important;
        transition: 0.3s;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
