


<p class="line" ><span>{{'SALES' | translate}} </span></p>
<div class="container">
  <div *ngIf="showCarousel && slides.length>0" id="carousel" class="carousel slide" data-ride="carousel">
    <div class="sales">
      
      <div class="sale-item" *ngFor="let s of slides; let i = index" [ngClass]="{'current':i==currentSlide, 'prev':i<currentSlide,'next':i>currentSlide}">
        <div (click)="showSale(sale)" *ngFor="let sale of s" class="sale" >
          <div  class="car-img">
            <img src="{{sale.Car.Photo?sale.Car.Photo:'../../assets/images/sale_default.jpg'}}" alt="">
            <div class="blur"></div>
            <div class="sale-price" >
            
              <span>{{sale.NewPrice}}€</span>
            </div>
            <div class="discount">
              <span>{{sale.Discount}}</span>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    <span class="left carousel-control"  role="button" (click)="prev()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </span>
      <span class="right carousel-control" role="button" (click)="next()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
      </span>
  </div>
</div>

<div *ngIf="!showCarousel && slides.length>0" class="sales-mobile">
    <div class="sale-item" *ngFor="let s of slides; let i = index" >
        <div (click)="showSale(sale)" *ngFor="let sale of s" class="sale" >
          <div (click)="showCarInfo(car)" class="car-img">
            <img src="{{sale.Car.Photo?sale.Car.Photo:'../../assets/images/sale_default.jpg'}}" alt="">
            <div class="blur"></div>
            <div class="sale-price" >
            
              <span>{{sale.NewPrice}}€</span>
            </div>
            <div class="discount">
              <span>{{sale.Discount}}</span>
            </div>
          </div>
        </div>
        
      </div>
</div>