<div class="container my-5">
  <form [formGroup]="carForm">
    <div class="row">
      <div class="col-sm-6">
        
        <div class="form-group">
          <label for="MI">{{"MODEL" | translate}}</label>
          <input formControlName="Model" type="text" class="form-control" id="MI" [placeholder]="'MODEL_INPUT' | translate">
          <small *ngIf="(carSubmitted || car.Model) && f.Model.errors" class="form-text text-danger">{{"MODEL_INPUT" | translate}}</small>
        </div>
        
        <div class="form-group">
          <label for="exampleInputEmail13" class="w-100" [ngClass]="{'text-danger':(carSubmitted || car.Model) && !image && !car.Photo}">Изображение</label>
          <div class="d-flex align-items-start my-2">
            <img *ngIf="car && !!car.Photo" class="w-25" src="{{car.Photo}}"><i *ngIf="!!car.Photo" class="fa fa-times" aria-hidden="true" (click)="unloadLink(car)"></i>
          </div>
          <p class="img-text" *ngIf="image"><span>{{image.name}}</span> <i class="fa fa-times" aria-hidden="true" (click)="unload()"></i> </p>
          <input type="file" (change)="putFile($event)"  style="display:none" #fileload>
          <button *ngIf="!image && !car.Photo" class="btn btn-link border-primary" (click)="fileload.click()">Загрузить картинку</button>
          <small  class="form-text text-danger" *ngIf="(carSubmitted || car.Model) && !image && !car.Photo">Добавьте изображение</small>
          <small  class="form-text text-danger" *ngIf="invalidImage">Загрузите изображение .jpg</small>
        </div>
        
        <div class="col-sm-6 pl-0" style="min-width: 165px">
          <div class="form-group">
            <label for="SP">{{"S_PRICE" | translate}}</label>
            <input formControlName="SPrice" type="number" class="form-control" id="SP" [placeholder]="'S_PRICE_INPUT' | translate">
            <small *ngIf="(carSubmitted || car.Model) && f.SPrice.errors" class="form-text text-danger">{{"S_PRICE_INPUT" | translate}}</small>
          </div>
        </div>
        
        <div class="col-sm-6 px-0" style="min-width: 165px">
          <div class="form-group">
            <label for="WP">{{"W_PRICE" | translate}}</label>
            <input formControlName="WPrice" type="number" class="form-control" id="WP" [placeholder]="'W_PRICE_INPUT' | translate">
            <small *ngIf="(carSubmitted || car.Model) && f.WPrice.errors" class="form-text text-danger">{{"W_PRICE_INPUT" | translate}}</small>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6">
        
        <div class="form-group">
          <label for="BTI">{{"BODYTYPE" | translate}}</label>
          <select formControlName="BodyType" class="form-control" id="BTI">
            <option></option>
            <option value="Sedan">{{"SEDAN" | translate}}</option>
            <option value="Wagon">{{"WAGON" | translate}}</option>
            <option value="Hatchback">{{"HATCHBACK" | translate}}</option>
            <option value="Compact">{{"COMPACT" | translate}}</option>
            <option value="Minivan">{{"MINIVAN" | translate}}</option>
            <option value="Van">{{"VAN" | translate}}</option>
            <option value="Coupe">{{"COUPE" | translate}}</option>
            <option value="Sport_Coupe">{{"SPORT_COUPE" | translate}}</option>
            <option value="SUV">{{"SUV" | translate}}</option>
            <option value="Pickup">{{"PICKUP" | translate}}</option>
          </select>
          <small *ngIf="(carSubmitted || car.Model) && f.BodyType.errors" class="form-text text-danger">{{"BODYTYPE_INPUT" | translate}}</small>
        </div>
        
        <div class="d-flex flex-wrap justify-content-between">
          <div class="form-item">
            <div class="form-group">
              <label for="PI">{{"PASSENGERS_S" | translate}}</label>
              <input formControlName="Passengers" type="number" class="form-control" id="PI" [placeholder]="'PASSENGERS_INPUT' | translate">
              <small *ngIf="(carSubmitted || car.Model) && f.Passengers.errors" class="form-text text-danger">{{"PASSENGERS_INPUT" | translate}}</small>
            </div>
          </div>
          
          <div class="form-item">
            <div class="form-group">
              <label for="DI">{{"DOORS" | translate}}</label>
              <input formControlName="Doors" type="number" class="form-control" id="DI" [placeholder]="'DOORS_INPUT' | translate">
              <small *ngIf="(carSubmitted || car.Model) && f.Doors.errors" class="form-text text-danger">{{"DOORS_INPUT" | translate}}</small>
            </div>
          </div>
          
          <div class="form-item">
            <div class="form-group">
              <label for="GI">{{"GROUPE" | translate}}</label>
              <input formControlName="Groupe" type="text" class="form-control" id="GI" [placeholder]="'GROUPE_INPUT' | translate">
              <small *ngIf="(carSubmitted || car.Model) && f.Groupe.errors" class="form-text text-danger">{{"GROUPE_INPUT" | translate}}</small>
            </div>
          </div>
          
          <div class="form-item">
            <div class="form-group">
              <label for="AI">{{"MINAGE_S" | translate}}</label>
              <input formControlName="MinAge" type="number" class="form-control" id="AI" [placeholder]="'AGE_INPUT' | translate">
              <small *ngIf="(carSubmitted || car.Model) && f.MinAge.errors" class="form-text text-danger">{{"AGE_INPUT" | translate}}</small>
            </div>
          </div>
        </div>
        
        <div class="d-flex flex-wrap justify-content-between">
          
          <div class="form-item">
            <div class="form-group">
                <label for="PowI">{{"POWER" | translate}}</label>
                <input formControlName="Power" type="number" class="form-control" id="PowI" [placeholder]="'POWER_INPUT' | translate">
                <small *ngIf="(carSubmitted || car.Model) && f.Power.errors" class="form-text text-danger">{{"POWER_INPUT" | translate}}</small>
            </div>
          </div>
          
          <div class="form-item">
            <div class="form-group">
                <label for="CI">{{"CONSUMPTION" | translate}}</label>
                <input formControlName="Consumption" type="number" class="form-control" id="CI" [placeholder]="'CONSUMPTION_INPUT' | translate">
                <small *ngIf="(carSubmitted || car.Model) && f.Consumption.errors" class="form-text text-danger">{{"CONSUMPTION_INPUT" | translate}}</small>
            </div>
          </div>
          
          <div class="form-item">
            <div class="form-group">
                <label for="TI">{{"TRANSMISSION_S" | translate}}</label>
                <select formControlName="Transmission" class="form-control" id="BTI">
                  <option></option>
                  <option value="AT">{{"AUTOMATIC" | translate}}</option>
                  <option value="MT">{{"MANUAL" | translate}}</option>
                </select>
                <small *ngIf="(carSubmitted || car.Model) && f.Transmission.errors" class="form-text text-danger">{{"TRANSMISSION_INPUT" | translate}}</small>
            </div>
          </div>
          
          <div class="form-item">
            <div class="form-group">
                <label for="FI">{{"FUEL" | translate}}</label>
                <select formControlName="Fuel" class="form-control" id="BTI">
                  <option></option>
                  <option value="Petrol">{{"PETROL" | translate}}</option>
                  <option value="Deisel">{{"DEISEL" | translate}}</option>
                </select>
                <small *ngIf="(carSubmitted || car.Model) && f.Fuel.errors" class="form-text text-danger">{{"FUEL_INPUT" | translate}}</small>
            </div>
          </div>
        </div>
       </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group form-check">
            <input formControlName="AC" type="checkbox" class="form-check-input" id="AC">
            <label class="form-check-label ml-4" for="AC">{{"AC" | translate}}</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group form-check">
            <input formControlName="ABS" type="checkbox" class="form-check-input" id="ABS">
            <label class="form-check-label ml-4" for="ABS">ABS</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group form-check">
            <input formControlName="AirBags" type="checkbox" class="form-check-input" id="AB">
            <label class="form-check-label ml-4" for="AB">{{"AIRBAGS" | translate}}</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group form-check">
            <input formControlName="Radio" type="checkbox" class="form-check-input" id="Radio">
            <label class="form-check-label ml-4" for="Radio">{{"RADIO" | translate}}</label>
          </div>
        </div>
      </div>
      <div class="form-group">
          <label for="DES">{{"DESCRIPTION" | translate}}</label>
          <textarea formControlName="Description" class="form-control" rows="5" id="DES" [placeholder]="'DESCRIPTION_INPUT' | translate"></textarea>
          <small *ngIf="(carSubmitted || car.Model) && f.Description.errors" class="form-text text-danger">{{"DESCRIPTION_INPUT" | translate}}</small>
      </div>
      <div class="form-group">
          <label for="DESENG">{{"DESCRIPTION_ENG" | translate}}</label>
          <textarea formControlName="Description_Eng" class="form-control" rows="5" id="DESENG" [placeholder]="'DESCRIPTION_ENG_INPUT' | translate"></textarea>
          <small *ngIf="(carSubmitted || car.Model) && f.Description_Eng.errors" class="form-text text-danger">{{"DESCRIPTION_ENG_INPUT" | translate}}</small>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
            <h3>{{"S_PRICES" | translate}}</h3>
        </div>
        <div class="col-sm" *ngFor="let day of date; let i = index">
          <div class="form-group">
            <label for="SPT">{{day.HEADER | translate}}</label>
            <input (keyup)="checkUpdateP()" (change)="checkUpdateP()" type="number" class="form-control" id="SPT" [(ngModel)]="Prices.SummerPrices[g[i]]" [ngModelOptions]="{standalone: true}" [placeholder]="'PRICE_INPUT' | translate">
            <small *ngIf="(carSubmitted || car.Model) && !Prices.SummerPrices[g[i]]" class="form-text text-danger">{{"PRICE_INPUT" | translate}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h3>{{"W_PRICES" | translate}}</h3>
        </div>
        <div class="col-sm" *ngFor="let day of date; let i = index">
          <div class="form-group">
            <label for="WPT">{{day.HEADER | translate}}</label>
            <input (keyup)="checkUpdateP()" (change)="checkUpdateP()" type="number" class="form-control" [(ngModel)]="Prices.WinterPrices[g[i]]" [ngModelOptions]="{standalone: true}" id="WPT" [placeholder]="'PRICE_INPUT' | translate">
            <small *ngIf="(carSubmitted || car.Model) && !Prices.WinterPrices[g[i]]" class="form-text text-danger">{{"PRICE_INPUT" | translate}}</small>
          </div>
        </div>
      </div>
    <button (click)="car.Model?updateCar():addCar()" *ngIf="showBtn" class="btn btn-primary">{{car.Model?("UPDATE" | translate):("ADD" | translate)}}</button>
  </form>
</div>