<div class="container">
  <div class="container-form">
    <div class="form-header">
      <p>{{service.car.Model}}</p>
      <i class="fa fa-times-circle" (click)="service.showCarInfo=false"></i>
    </div>
    <div class="cars-card">
      <div class="row">
        <div class="col-sm-5">
          <img src="{{service.car.Photo}}" alt="">
        </div>
        <div class="col-sm-7">
          <p>{{translate.currentLang=='ru'?service.car.Description:service.car.Description_ENG}}</p>
          <span>{{"PRICE" | translate}}:</span> {{service.car.Price}}€
        </div>
      </div>
      <div class="sep"></div>
      <div class="details">
        <h4>{{"DETAILS" | translate}}</h4>
        <p><i class="fa fa-tint"></i>{{"FUEL" | translate}}: {{service.car.Fuel.toUpperCase() | translate}}</p>
        <p><i class="fa fa-tachometer"></i>{{"CONSUMPTION" | translate}}: {{service.car.Consumption}}{{"L"|translate}}/100{{"KM"|translate}}</p>
        <p><i class="fa fa-cogs"></i>{{"TRANSMISSION" | translate}}: {{service.car.Transmission.toUpperCase() | translate}}</p>
        <p><i class="fa fa-car"></i>{{"DOORS" | translate}}: {{service.car.Doors}}</p>
        <p><i class="fa fa-male"></i>{{"PASSENGERS" | translate}}: {{service.car.Passengers}}</p>
      </div>
      <button class="btn btn-success" (click)="service.showCarInfo=!service.showCarInfo" routerLink="/booking/{{service.car.Id}}">{{"BOOK" | translate}}</button>
    </div>
    
    
    
  </div>
  <div class="background-blur" (click)="service.showCarInfo=false"></div>
  
</div>