<div (mouseover)="showScroll(0,100,showMess && userProfile)" class="container" [ngStyle]="{ 'bottom':showTopics && !showMess?'-463px':''}" [ngClass] = "{'cont-height':showTopics,'show':(showMess && !showAll && !userProfile),'ProfileShow':(showMess && userProfile), 'showP':(showMess && userProfile), 'InPage':showAll, 'Profile':userProfile}">
  
  <div class="header"  [ngClass]="{'hidden-header':(showMess && userProfile)}" (click)="show(showAll)">
    <i class="fa fa-comments" ></i>
    <h3 *ngIf="!userProfile">{{'SEND_MESSAGE' | translate}}</h3>
    <i *ngIf="getSeen()" class="fa fa-bell" aria-hidden="true"></i>
    
  </div>
  <form [formGroup]="messageForm" *ngIf="!userProfile && !showTopics">
    <div class="item">
      <span [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">{{'NAME' | translate }}</span>
      <input class="input" formControlName="Name" type="text">
      <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
        <span class="d-block is-invalid" *ngIf="f.Name.errors.required">{{"NAME_VALIDATION" | translate}}</span>
    
      </div>
    </div>
    <div class="item">
      <span [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">{{'EMAIL' | translate }}*</span>
      <input class="input" formControlName="Email" type="email">
      <div *ngIf="submitted && (f.Email.errors || cService.checkEmail(v.Email))" class="invalid-feedback">
        <span class="d-block is-invalid" *ngIf="f.Email.errors?f.Email.errors.required:false">{{"EMAIL_VALIDATION" | translate}}</span>
        <span class="d-block is-invalid" *ngIf="f.Email.errors?false:cService.checkEmail(v.Email)">{{'WRONG_EMAIL_VALIDATION'|translate}}</span>
      </div>
    </div>
    <div class="item">
      <span [ngClass]="{ 'is-invalid': submitted && f.Message.errors }">{{'MESSAGE' | translate }}*</span>
      <textarea class="input" formControlName="Message" cols="30" rows="4"></textarea>
      <div *ngIf="submitted && f.Message.errors" class="invalid-feedback">
        <span class="d-block is-invalid" *ngIf="f.Message.errors.required">{{"MESSAGE_VALIDATION" | translate}}</span>
    
      </div>

    </div>
    <button class="btn btn-primary" (click)="send()">{{'SEND' | translate }}</button>
  </form>
  <div class="topic top-topic" (click) = "showTopic()" [ngStyle]="{'margin-top':showTopics?'10px':''}"  *ngIf="(userProfile || showTopics) && (!!currentTopic)">
    <div class="row">
      <div class="col-sm-7">
        <img class ="user-img-small"  src="{{currentTopic.User?currentTopic.User.Photo:''}}" alt="">
        <span>{{currentTopic.User?currentTopic.User.Name:''}}</span></div>
      <div class="col-sm-5"><span>{{currentTopic.ModifyDate | date: 'HH:mm'}}</span></div>
    </div>
  </div>
  <div *ngIf="(userProfile || showTopics) && (!!currentTopic)" class="panel">
    <textarea (keydown) = "sendButton($event, message, messages)"  #message></textarea>
    <!-- <i class="fa fa-car" (click)="showPicker()"></i> -->
    <i class="fa fa-paper-plane" (click)="sendMessage(message, messages)"></i>
  </div>
  <div *ngIf="(userProfile || showTopics) && topics.length==0" class="panel">
    <button class="btn btn-default" (click)="CreateTopic()">Написать</button>
  </div>
  <div #messages *ngIf=" (userProfile || showTopics)"  [ngStyle]="{'height':!currentTopic && userProfile ?'100%':!currentTopic && !userProfile?'95%':''}" class="messages">
    <div *ngIf="topics.length==0 && userProfile" class="no-message">
      <span><span>{{'NO_DATA_MESSAGER' | translate }}</span></span>
    </div>
    <div class="topic" [ngClass]="{'hidden':!!currentTopic, 'not-seen':(!top.Seen && this.userId == top.UserReciverId)}" (click) = "showTopic(top)"  *ngFor="let top of topics">
      <div class="row">
        <div class="col-sm-7">
          <img class ="user-img-small"  src="{{top.User?top.User.Photo:''}}" alt="">
          <span>{{top.User?top.User.Name:''}}</span></div>
        <div class="col-sm-5"><span>{{top.ModifyDate | date: 'HH:mm'}}</span></div>
      </div>
    </div>
    <div  class="message" [ngClass]="{'my-message': mes.UserId == userId}" *ngFor="let mes of currentTopic?currentTopic.Messages:[]">
      <div class="date" *ngIf="showDate(mes.CreateDate)">
        <span>{{mes.CreateDate | date: 'EEEE, dd MMMM'}}</span>
      </div>
      <div class="message-body">
        
        <p>{{mes.Text}}</p>
        <span>{{mes.CreateDate | date: 'HH:mm'}}</span>
      </div>
    </div>
  </div>
  
</div>
<div *ngIf="showMess" style="background-color: transparent"  [ngClass] = "{'blurProf':userProfile}" class="background-blur" (click)="show(showAll)"></div>
<div *ngIf="userProfile" style="z-index: 310" class="header-small"  (click)="show(showAll)">
  <i class="fa fa-comments" ></i>
  <i *ngIf="getSeen()" class="fa fa-bell" aria-hidden="true"></i>
</div>
<div *ngIf="!userProfile && !showAll" [ngClass]="{'hidden-header':showMess}" class="header-small"  (click)="show(showAll)">
  <i class="fa fa-comments" ></i>
  <i *ngIf="getSeen()" class="fa fa-bell" aria-hidden="true"></i>
</div>
<alert  [alert] ="alert"></alert>