
<div class="container-fluid">
    <h1>{{"OUR_CARS" | translate}}</h1>
    <div class="filter-sort">
      <h4 class="show-filters" (click)="showFilters()"><b>{{(ShowFilters?'CLOSE_FILTERS':'SHOW_FILTERS') | translate}} <i class="fa fa-filter" aria-hidden="true"></i></b></h4>
      <div class="sortings">
          <h4><b>{{'SORT_BY' | translate}}:</b></h4>
          <span (click)="Sort('popularity')" [ngClass]="{'active-sort':CurSorting=='popularity'}">{{'POPULAR_SORTING' | translate}}</span>
          <span (click)="Sort('price')" [ngClass]="{'active-sort':CurSorting=='price'}">{{'PRICE_SORTING' | translate}}</span>
          <span (click)="Sort('raiting')" [ngClass]="{'active-sort':CurSorting=='raiting'}">{{'RAITING_SORTING' | translate}}</span>
          <span (click)="ChangeSort()"><i class="fa fa-sort-asc" [ngClass]='{"fa-sort-asc":SortUp, "fa-sort-desc":!SortUp}' aria-hidden="true"></i></span>
      </div>
    </div>
    
    
    <div class="row">
        <div class="filters-container col-lg-2" [ngStyle]="{'max-height':ShowFilters?'2000px':'0'}">
          <div class="filter" *ngFor="let filter of filters">
            <h3>{{filter.Name.toUpperCase() | translate}}</h3>
            <span [ngClass]="{'choosed': f.indexOf(filter.Name=='Passengers'?value[0]:value)>-1}" class="filter-item" *ngFor="let value of filter.Values" (click)="addFilter(filter.Name, value)"><span>{{value.toUpperCase() | translate}} <span *ngIf="filter.Name=='Passengers'">{{'PSG' | translate}}</span> </span> <i class="fa fa-check" aria-hidden="true"></i></span>
          </div>    
        </div>
          
          
          <div class="cars-container col-lg-10">
            <div *ngFor='let car of filteredCars' class="car-item">
              <div  class="car-img">
                <img src="{{car.Photo}}" alt="">
                <div (click)="showCarInfo(car)" class="blur"></div>
                <!-- <div [ngClass]="{'price':car.Sales.length==0, 'sale-price':car.Sales.length>0}">
                
                  <span>{{car.Sales.length>0?getCarPrice(car):car.Price}}€</span>
                </div>
                <div *ngIf="car.Sales.length>0" class="discount">
                  <span>{{getCarPrice(car,true)}}</span>
                </div> -->
                <div class="rating">
                  <rating [mark]="car.Mark"></rating>
                </div>
                <i (click)="showCarPhotos(car.Id)" class="fa fa-picture-o" aria-hidden="true"></i>
              </div>
              <div class="car-info">
                <h5>{{car.Model}}</h5>
                <div class="details">
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{"PASSENGERS_S" | translate}}</span>
                    </div>
                    <i class="fa fa-male"></i>
                    <span>x {{car.Passengers}}</span>
                  </div>
                  <div class="detail-item">
                    <div class="detail-messege">
                        <span>{{"DOORS" | translate}}</span>
                    </div>
                    <i class="fa fa-car"></i>
                    <span>x {{car.Doors}}</span>
                  </div>
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{"TRANSMISSION" | translate}}</span>
                    </div>  
                    <i class="fa fa-cogs"></i>
                    <span>{{car.Transmission.toUpperCase() | translate}}</span>
                  </div>
                  <div *ngIf="car.AC" class="detail-item">
                    <div class="detail-messege">
                      <span>A/C</span>
                    </div>
                    <i class="fa fa-snowflake-o"></i>
                    <span>A/C</span>
                  </div>
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{'BODY'| translate}}</span>
                    </div>
                    <i class="fa fa-truck"></i>
                    <span>{{car.BodyType.toUpperCase() | translate}}</span>
                  </div>
                  <div class="detail-item">
                    <div class="detail-messege">
                      <span>{{"FUEL" | translate}}</span>
                    </div>
                    <i class="fa fa-tint"></i>
                    <span>{{car.Fuel.toUpperCase() | translate}}</span>
                  </div>
                </div>
                <div class="buttons">
                  <button class="btn btn-info" (click)="showCarInfo(car)">{{"CAR_INFO" | translate}}</button>
                  <button class="btn btn-success" routerLink="/booking/{{car.Id}}">{{"BOOK" | translate}}</button>
                </div>
                
              </div>
            </div>
          </div>
    </div>
  
</div>
<car-card *ngIf="service.showCarInfo" [service]="service"></car-card>

<loader *ngIf="load"></loader>
<photo-viewer *ngIf="showPhotos.show" [items]="photos" [show]="showPhotos"></photo-viewer>
