<div class="description">
    <h2>{{'FIND_CAR' | translate}}</h2>
    <div class="search-form">
        <form [formGroup]="searchForm" >
            
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="item">
                        <span [ngClass]="{ 'is-invalid': submitted && f.Pick.errors }">{{"PICK_UP_LOCATION" | translate}}</span>
                        <input class="input" formControlName="Pick" [ngClass]="{ 'is-invalid': submitted && f.Pick.errors }"  type="text" required>
                        <div *ngIf="submitted && f.Pick.errors" class="invalid-feedback">
                            <span class="d-block is-invalid" *ngIf="f.Pick.errors.required">{{"PICK_UP_VALIDATION" | translate}}</span>
                
                        </div>
                    </div>
                    <div class="item">
                        <span [ngClass]="{ 'is-invalid': submitted && errors.DateStart }">{{"DATE_START" | translate}}</span>
                        <date-picker  
                          [Out]="search" 
                          [Prop]="'DateStart'" 
                          [Errors]="errors"
                        ></date-picker>
                        <div *ngIf="submitted && errors.DateStart" class="invalid-feedback">
                        
                            <span class="d-block is-invalid" *ngIf="errors.DateStart">{{"DATE_VALIDATION" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="item">
                        <span [ngClass]="{ 'is-invalid': submitted && f.Drop.errors }">{{"DROP_OFF_LOCATION" | translate}}</span>
                        <input class="input" formControlName="Drop" [ngClass]="{ 'is-invalid': submitted && f.Drop.errors }" type="text" required>
                        <div *ngIf="submitted && f.Drop.errors" class="invalid-feedback">
                            <span class="d-block is-invalid" *ngIf="f.Drop.errors.required">{{"DROP_OFF_VALIDATION" | translate}}</span>
                        
                        </div>
                    </div>
                    <div class="item">
                        <span [ngClass]="{ 'is-invalid': submitted && errors.DateFinish }">{{"DATE_FINISH" | translate}}</span>
                        <date-picker  
                          [Out]="search" 
                          [Prop]="'DateFinish'" 
                          [Errors]="errors"
                          [DateStart]="search.DateStart"
                          [DateFinish]="search.DateFinish"
                        ></date-picker>
                        <div *ngIf="submitted && errors.DateFinish" class="invalid-feedback">
                            <span class="d-block is-invalid" *ngIf="errors.DateFinish">{{"DATE_VALIDATION" | translate}}</span>
                        
                        </div>
                    </div>
                </div>
            </div>
            
            
        
            
            <div class="buttons">
                <button class="btn btn-success" >{{'SEARCH' | translate}}</button>
            
            </div>
        
        
        </form>
    </div>
</div>

<!-- <div class="container best-cars"  >

    <div class="advs" >
        <div class="row">
            <div class="col-xs-4">
                <div>
                    <i class="fa fa-plane box-icon-border box-icon-center round box-icon-white box-icon-big"></i>
                    <h3>Pick up & Drop off directly at the Airport</h3>
                    <p>We are based in Heraklion Airport and Chania Airport. You can collect and return your hired vehicle straight at any Crete's Airport</p>
                </div>
                
            </div>
            <div class="col-xs-4">
                <div>
                    <i class="fa fa-shield box-icon-border box-icon-center round box-icon-white box-icon-big"></i>
                    <h3>All Risk Insurance with NO EXCESS!</h3>
                    <p>Our prices and specials offers include no additional fees & extra -hidden- insurances. The price you reserve is the price you pay.</p>
                </div>
                
            </div>
            <div class="col-xs-4">
                <div>
                    <i class="fa fa-car box-icon-border box-icon-center round box-icon-white box-icon-big"></i>
                    <h3>Book Early, Avoid disappointment</h3>
                    <p>Book your next rental car in Crete with Justrentals and avoid disappointment. No credit card is required.</p>
                </div>
            </div>
        </div>
        <div class="arrow" [ngStyle]='{"opacity":showAdvs?"0":"1"}'>
            <img src="../../assets/images/arrow.gif" alt="">
        </div>
    </div>
    <h2>{{'BEST_CARS' | translate}}</h2>
    <div *ngFor='let car of bestCars; let i = index' [ngClass]="{'between':betweenCars}"  class="car-item">
        <h3>{{car.Model}}</h3>
      <div  class="car-img">
        <img src="{{car.Photo}}" alt="">
        <div (click)="showCarInfo(car)" class="blur"></div>
        <div [ngClass]="{'price':car.Sales.length==0, 'sale-price':car.Sales.length>0}">
        
          <span>{{car.Sales.length>0?getCarPrice(car):car.Price}}€</span>
        </div>
        <div *ngIf="car.Sales.length>0" class="discount">
          <span>{{getCarPrice(car,true)}}</span>
        </div>
        <div class="rating">
          <rating [mark]="car.Mark"></rating>
        </div>
        <i (click)="showCarPhotos(car.Id)" class="fa fa-picture-o" aria-hidden="true"></i>
      </div>
      <div class="car-info">
        
        <div class="details">
          <div class="detail-item">
            <div class="detail-messege">
              <span>{{"PASSENGERS_S" | translate}}</span>
            </div>
            <i class="fa fa-male"></i>
            <span>x {{car.Passengers}}</span>
          </div>
          <div class="detail-item">
            <div class="detail-messege">
                <span>{{"DOORS" | translate}}</span>
            </div>
            <i class="fa fa-car"></i>
            <span>x {{car.Doors}}</span>
          </div>
          <div class="detail-item">
            <div class="detail-messege">
              <span>{{"TRANSMISSION" | translate}}</span>
            </div>  
            <i class="fa fa-cogs"></i>
            <span>{{car.Transmission}}</span>
          </div>
          <div *ngIf="car.AC" class="detail-item">
            <div class="detail-messege">
              <span>A/C</span>
            </div>
            <i class="fa fa-snowflake-o"></i>
            <span>A/C</span>
          </div>
          <div class="detail-item">
            <div class="detail-messege">
              <span>{{'BODY'| translate}}</span>
            </div>
            <i class="fa fa-truck"></i>
            <span>{{car.BodyType}}</span>
          </div>
          <div class="detail-item">
            <div class="detail-messege">
              <span>{{"FUEL" | translate}}</span>
            </div>
            <i class="fa fa-tint"></i>
            <span>{{car.Fuel}}</span>
          </div>
        </div>
        <div class="buttons">
          <button class="btn btn-info" (click)="showCarInfo(car)">{{"CAR_INFO" | translate}}</button>
          <button class="btn btn-success" routerLink="/booking/{{car.Id}}">{{"BOOK" | translate}}</button>
        </div>
        
      </div>
      <div class="car-description">
            <p>{{translate.currentLang=='ru'?(car?car.Description:''):car.Description_ENG}}</p>
      </div>
    </div>
    <div class="car"></div>
    <div class="car"></div>
</div> -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" [ngClass]='{"show-advs":showAdvs}'>
    <div class="advs container" >
        <div class="row">
            <div class="col-xs-4">
                <div>
                    <i class="fa fa-plane box-icon-border box-icon-center round box-icon-white box-icon-big"></i>
                    <h3>Pick up & Drop off directly at the Airport</h3>
                    <p>We are based in Heraklion Airport and Chania Airport. You can collect and return your hired vehicle straight at any Crete's Airport</p>
                </div>
                
            </div>
            <div class="col-xs-4">
                <div>
                    <i class="fa fa-shield box-icon-border box-icon-center round box-icon-white box-icon-big"></i>
                    <h3>All Risk Insurance with NO EXCESS!</h3>
                    <p>Our prices and specials offers include no additional fees & extra -hidden- insurances. The price you reserve is the price you pay.</p>
                </div>
                
            </div>
            <div class="col-xs-4">
                <div>
                    <i class="fa fa-car box-icon-border box-icon-center round box-icon-white box-icon-big"></i>
                    <h3>Book Early, Avoid disappointment</h3>
                    <p>Book your next rental car in Crete with Justrentals and avoid disappointment. No credit card is required.</p>
                </div>
            </div>
        </div>
        <div class="arrow" [ngStyle]='{"opacity":showAdvs?"0":"1"}'>
            <img src="../../assets/images/arrow.gif" alt="">
        </div>
    </div>
  <div class="carousel-inner">
    <div class="carousel-item {{i==0?'active':''}}" *ngFor='let car of slides; let i = index' >
      <div class="car-slide row">
          <div class="car-photo col-md-6" >
              <img src="{{car.Photo}}" alt="">
          </div>
          <div class="info col-md-6">
              <h3>{{car.Header | translate}}</h3>
              <hr>
              <h4>{{'FROM' | translate}} {{car.MinPrice}}€ / {{'DAY' | translate}}</h4>
              <p>{{car.Text | translate}}</p>
              <button class="btn btn-info">{{'CONNECT' | translate}}</button>
          </div>
            
      </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="work" [ngStyle]="{'max-height':showWork?'1000px':'100px'}">
    <div class="container d-flex justify-content-center" >
        <h3><b>{{'HOW_WE_WORK' | translate}}</b></h3>
    </div>
    <div class="container steps">
        <div class="step" *ngFor="let step of steps">
            <div class="icon">
                <img src="{{step.Icon}}" alt="">
            </div>
            <div class="text">
                <h3>{{step.Header | translate}}</h3>
                <p>{{step.Text | translate}}</p>
            </div>
        </div>
    </div>
</div>
<div class="sales">
    <div class="container">
        <div>
            <h3>{{'GO_TO_SALES' | translate}}</h3>
            <p>{{'GO_TO_SALES_TEXT' | translate}}</p>
            <button class="btn btn-info">{{'FIND_MORE' | translate}}</button>
        </div>
        <div class="sales-photo">
            <img src="../../assets/images/sale.png" alt="">
        </div>
        
    </div>
</div>

