<div *ngIf="userService.currentUser" class="container-fluid">
  <div class="main-info">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex flex-column justify-content-center">
          <div class="user-photo">
            <img class="img-rounded img-responsive" src="{{userService.currentUser?userService.currentUser.Photo:'../../assets/images/default_user_photo.jpg'}}" alt="">
            
            <div class="upload">
              <div>
                  <label for="uploadbtn" class="uploadButton">{{'UPLOAD_PHOTO' | translate}}</label>
                  <input style="opacity: 0; "  name="upload" id="uploadbtn" #file type="file"  (change)="upload(file.files)" />
              </div>
              
            </div>
            
          </div>
          
          <p style="text-align: center; font-size:18pt">{{userService.currentUser?userService.currentUser.Name:''}}</p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="info">
            <h1>{{'MAIN_INFO'|translate}}</h1>
            <div >
              <div class="item">
                <div class="row">
                  <div class="col-md-4">
                    <span>{{'EMAIL' | translate}}: </span>
                  </div>
                  <div class="col-md-6" style="white-space: nowrap;">
                    
                    <p>{{userService.currentUser?userService.currentUser.Email:''}}</p>
                    <i (click)="showChangeInfo(0,true)"  class="fa fa-pencil"></i>
                  </div>
                </div>
                <div *ngIf="changes[0]" class="change-panel">
                    <div class="form">
                      <span>{{'EMAIL' | translate}}: </span>
                      <input [ngClass]="{ 'is-invalid': submittes[0] && (Email.value=='' || carsService.checkEmail(Email.value) )}" class="input" [(ngModel)]="changeValues[0]" type="email" required #Email>
                      <div *ngIf="submittes[0] && (Email.value=='' || carsService.checkEmail(Email.value) )" class="invalid-feedback">
                        <span class="d-block is-invalid" *ngIf="Email.value==''">{{'EMAIL_VALIDATION'|translate}}</span>
                        <span class="d-block is-invalid" *ngIf="Email.value==''?false:carsService.checkEmail(Email.value)">{{'WRONG_EMAIL_VALIDATION'|translate}}</span>
                      </div>
                      <button class="btn btn-success" (click)="changeInfo(0,'Email', Email.value)">Изменить</button>
                    </div>
                </div>
                <div *ngIf="changes[0]"  class="background-blur" (click)="showChangeInfo(0,false)"></div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-4">
                    <span>{{'PHONE' | translate}}: </span>
                </div>
                <div class="col-md-6">
                    <p>{{userService.currentUser?(userService.currentUser.Phone?userService.currentUser.Phone:('NO_DATA' | translate)):''}}</p>
                    <i (click)="showChangeInfo(1,true)"  class="fa fa-pencil"></i>
                </div>
                <div *ngIf="changes[1]" class="change-panel">
                  <div class="form">
                    <input [ngClass]="{ 'is-invalid': submittes[1] && !carsService.checkStr(Tel.value,'phone-check') }" [(ngModel)]="changeValues[1]" type="tel" class="input"  required #Tel>
                    <button class="btn btn-success" (click)="changeInfo(1,'Phone', Tel.value, Tel)">Изменить</button>
                  </div>
                </div>
                <div *ngIf="changes[1]"  class="background-blur" (click)="showChangeInfo(1,false)"></div>
              </div>
                
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-4">
                    <span>{{'REG_DATE' | translate}}: </span>
                  </div>
                  <div class="col-md-6">
                    <p>{{userService.currentUser?(userService.currentUser.CreatedDate | date: 'dd.MM.yyyy'):''}}</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-xs-4">
                    <span>{{'LANG' | translate}}: </span>
                  </div>
                  <div class="col-xs-2" style="white-space: nowrap;">
                    <p>{{userService.currentUser?(userService.currentUser.Lang?userService.currentUser.Lang:('NO_DATA' | translate)):''}}</p>
                    <i (click)="showChangeInfo(2,true)"  class="fa fa-pencil"></i>
                  </div>
                </div>
                <div *ngIf="changes[2]" class="change-panel">
                    <div class="form">
                      <span>{{'LANG' | translate}}: </span>
                      <select [ngClass]="{ 'is-invalid': submitted && f.Lang.errors }" class="input"  required #Lang>
                        <option>{{'RU'| translate}}</option>
                        <option>{{'ENG'| translate}}</option>
                      </select>
                      <button class="btn btn-success" (click)="changeInfo(2,'Lang', Lang.value)">Изменить</button>
                    </div>
                </div>
                <div *ngIf="changes[2]"  class="background-blur" (click)="showChangeInfo(2,false)"></div>
              </div>
            </div>
        </div>
        
      </div>
     
    </div>
    <messager *ngIf="this.userService.currentUser.Topics" [userProfile]='true'  [topics]="this.userService.currentUser.Topics"></messager>
  </div>
  <div  class="statistics">
    <!-- <statistics *ngIf="userService.currentUser.Name=='Admin'"></statistics> -->
    
    <p *ngIf="userService.currentUser?userService.currentUser.Books.length>0:false" class="line" ><span (click)="show('showBooks')">{{userService.currentUser.IsAdmin?'BOOKS':'MY_BOOKS' | translate}} <i class="fa" [ngClass] = "{'fa-angle-down':!showBooks, ' fa-angle-up':showBooks}"></i></span></p>
    <div *ngIf="showBooks">
      <div class="book-item" [ngClass]="{'active-item':getStatus(book)=='Активно' }" *ngFor="let book of userService.currentUser.Books">
        <span class="status" [ngClass]="{'active':getStatus(book)=='Активно'}">{{getStatus(book)}}</span>
        <h4 style="margin-left: 5px">{{'ORDER' | translate}} №{{book.Id}}</h4>
        <div class="row">
          
          <div class="col-sm-4">
            <div class="car">
              <img src="{{book.Car.Photo}}" alt="">
              <div>
                <p routerLink="/booking/{{book.Car.Id}}"><i class="fa fa-car"></i>{{book.Car.Model}}</p>
                <span><i class="fa fa-dollar"></i>{{book.Sum}}€</span>
              </div>
            </div>
            
          </div>
          <div class="col-sm-2 dates">
            <i style ="font-size: 30px" class="fa fa-map-marker" aria-hidden="true"></i>
            <span>{{'PLACE' | translate}}: {{book.Place}}</span>
          </div>
          <div class="col-sm-3 dates">
            <i style ="font-size: 30px" class="fa fa-calendar-times-o" aria-hidden="true"></i>
            <span>{{'RENT' | translate}}: {{book.DateStart | date: 'dd.MM.yyyy'}} - {{book.DateFinish | date: 'dd.MM.yyyy'}}</span>
            
          </div>
          <div class="col-sm-3 dates">
            <i style ="font-size: 30px" class="fa fa-clock-o" aria-hidden="true"></i>
            <span>{{'CREATE_DATE' | translate}}: {{book.CreateDate | date: 'dd.MM.yyyy'}}</span>
          </div>
             
          
        </div>
      </div>
    </div>
    <p *ngIf="userService.currentUser.IsAdmin" class="line" ><span (click)="show('showAddCar')">{{'ADD_CAR' | translate}} <i class="fa" [ngClass] = "{'fa-angle-down':!showAddCar, ' fa-angle-up':showAddCar}"></i></span></p>
    <div *ngIf="showAddCar">
      <ul class="list-group my-3">
        <li class="list-group-item" >
          <h3 class="mt-0 mb-3">{{"CARS"| translate}}</h3>
          <div  class="w-100 m-0 border-0" >
            <div class="card mb-3 flex-column flex-sm-row justify-content-start align-items-start align-items-sm-center  "   *ngFor="let e of cars">
              <div class="card-body d-sm-flex justify-content-sm-between align-items-center">
                <h6  class="card-title m-sm-0">#{{e.Id}} {{e.Model}}</h6>
              </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success" (click)="addCar()" >Добавить</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <p *ngIf="userService.currentUser.IsAdmin" class="line" ><span (click)="show('showAddSale')">{{'ADD_SALE' | translate}} <i class="fa" [ngClass] = "{'fa-angle-down':!showAddSale, ' fa-angle-up':showAddSale}"></i></span></p>
    <div *ngIf="userService.currentUser.IsAdmin && showAddSale">
      <div class="form">
        <div class="row">
          <div class="col-sm-6">
            <div class="item">
              <span [ngClass]="{ 'is-invalid': saleSubmitted && newSale.CarId==null }" class="header">{{'CAR' | translate}}</span>
              <picker *ngIf="cars.length!=0" [items]="cars" [out]="newSale" [prop]="'CarId'"></picker>
            </div>
            <div class="item">
              <span [ngClass]="{ 'is-invalid': saleSubmitted && newSale.DateStart==null }" class="header">{{'DATE_START' | translate}}</span>
              <date-picker  [Out]="newSale" [Prop]="'DateStart'" [Errors]="saleErrors"  [DateStart]="newSale.DateStart"
                        [DateFinish]="newSale.DateFinish"></date-picker>
              
            </div>
            <div class="item">
              <span [ngClass]="{ 'is-invalid': saleSubmitted && newSale.DateFinish==null }" class="header">{{'DATE_START' | translate}}</span>
              <date-picker  [Out]="newSale" [Prop]="'DateFinish'" [Errors]="saleErrors"  [DateStart]="newSale.DateStart"
                        [DateFinish]="newSale.DateFinish"></date-picker>
            </div>
            
          </div>
          <div class="col-sm-6">
            <div class="item inner">
              <div class="item inner-item">
                <span [ngClass]="{ 'is-invalid': saleSubmitted && newSale.Discount==null }" class="header">{{'DISCOUNT' | translate}}</span>
                <input [ngClass]="{ 'is-invalid': saleSubmitted && newSale.Discount==null }" type="number" class="input"  [(ngModel)]="newSale.Discount">
              </div>
              <div class="item inner-item">
                <span  class="header">{{'DAYS_NUMBER' | translate}}</span>
                <input type="number" class="input"  [(ngModel)]="newSale.DaysNumber">
              </div>
              
            </div>
            <div *ngIf="getSalePrice()!=0" class="item">
              <span class="header">{{'PRICE' | translate}}</span>
              <span>{{getSalePrice()}}€</span>
            </div>
            
            
          </div>
        </div>
        <!-- <div class="item">
          <span class="header">{{'DESCRIPTION' | translate}}</span>
          <textarea class="input" [(ngModel)]="newCar.Description"></textarea>

        </div>
        <div class="item">
          <span class="header">{{'DESCRIPTION_ENG' | translate}}</span>
          <textarea class="input" [(ngModel)]="newCar.Description_Eng"></textarea>
        </div> -->
        <button (click)="addSale()" class="btn btn-primary">{{'ADD' | translate}}</button>
      </div>
    </div>
    <p *ngIf="userService.currentUser.IsAdmin" class="line" ><span (click)="show('showAddNewAdmin')">{{'ADD_ADMIN' | translate}} <i class="fa" [ngClass] = "{'fa-angle-down':!showAddNewAdmin, ' fa-angle-up':showAddNewAdmin}"></i></span></p>
    <div *ngIf="userService.currentUser.IsAdmin && showAddNewAdmin">
      <div class="form">
        <div class="row">
          <div class="col-sm-6">
            <div class="item">
                <span [ngClass]="{ 'is-invalid': adminSubmitted && newAdmin.UserId == 0 }" class="header">{{'NEW_ADMIN' | translate}}</span>
              <picker [items]="users" [out]="newAdmin" [prop]="'UserId'" [PropName]="'Name'"></picker>
              <div *ngIf="adminSubmitted && newAdmin.UserId == 0" class="invalid-feedback">
                <span class="d-block is-invalid" >{{"ADMIN_VALIDATION" | translate}}</span>
              </div>
            </div>
          </div>
          
        </div>
        <button (click)="addAdmin()" class="btn btn-primary">{{'ADD' | translate}}</button>
      </div>
    </div>
  </div>
</div>


