<div class="container11">
    <div class="current-date input" tabindex="3" (click)="show()">
        <span>{{ChoosedDate | date:'dd.MM.yyyy'}}</span>
        <i class="fa fa-calendar"></i>
    </div>
    <div [ngClass]="{'show-picker':showPicker}" class="container">
      
      <div class="header">
        <i style="display: flex; justify-content: flex-end" class="fa fa-angle-left" aria-hidden="true" (click)="prev()"></i>
        <div class="period">{{currentMonth.toUpperCase() | translate}}  {{currentYear}}</div>
        <i class="fa fa-angle-right" aria-hidden="true" (click)="next()"></i>
      </div>
      <div class="date-picker">
        <div class="column-headers">
          <div class="week-day-name"  *ngFor="let day of week; let i = index">{{day.toUpperCase() | translate}}</div>
        </div>
        <div class="date-items">
          <div class="rows" *ngFor="let week of calendar">
            <div class="cols" *ngFor="let day of week; let i = index">
              
              <div  class="item {{getClass(day)}}" 
               (click)="pick(day)">
                {{day | date: 'dd'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>


<div *ngIf="showPicker" style="background: transparent; z-index: 600" class="background-blur" (click)="show()"></div>


